<!--<div class="fixed w-screen h-screen bg-black/45 z-30"></div>-->
<nav
  class="bg-neutral-50 z-20 fixed dark:bg-neutral-800 w-full shadow py-2 px-4 flex flex-col gap-y-3 transition-all sm:flex-row
  sm:items-center sm:justify-start md:py-3 md:px-5">
  <div class="flex items-center justify-between w-full px-3 sm:block sm:w-fit">
    <a routerLink="/" class="text-lg roboto-black w-10 aspect-square rounded-full bg-red-500 block"></a>
    <div class="w-6 aspect-square bg-red-500 sm:hidden" (click)="toggleNav()"></div>
  </div>
  <div
    [@openClose]="isOpen ? 'open' : 'closed'"
    class="fixed flex flex-col gap-y-5 z-50 right-0 top-0 h-full w-3/4 max-w-64 bg-neutral-100 dark:bg-neutral-900 py-3 px-0
              sm:static sm:z-auto sm:max-w-none sm:w-full sm:dark:bg-transparent sm:bg-transparent sm:py-0 sm:flex-row sm:justify-between sm:flex-1 sm:translate-x-0 sm:opacity-100
  ">
    <button
      type="button"
      (click)="toggleNav()"
      class="text-lg w-7 flex items-center justify-center aspect-square bg-neutral-200 dark:bg-neutral-800 rounded-full font-semibold dark:text-white self-start ml-3 sm:hidden">
      x
    </button>
    <div class="flex justify-center items-center sm:hidden">
      <a routerLink="/" class="text-lg roboto-black w-20 aspect-square rounded-full bg-red-500 block"></a>
    </div>
    <div class="flex flex-col sm:flex-row sm:items-center font-semibold gap-1">
      <app-navlink href="/" label="Home"/>
      <app-navlink href="/about" label="About"/>
      <app-navlink href="/blog" label="Blog"/>
      <app-navlink href="/contact" label="Contact"/>
    </div>
    <div class="flex justify-between items-center py-2 px-4 sm:items-center font-semibold gap-x-3">
      <app-navlink href="/auth/login" label="Login" button/>
      <button (click)="toggleMode()" class="text-xl flex items-center">
        <ng-icon name="lucideMoon" *ngIf="!darkMode" color="#000"/>
        <ng-icon name="lucideSun" *ngIf="darkMode" color="#fff"/>
      </button>
    </div>
  </div>

</nav>
